@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 65rem) {
      @content
    }
  }
}

:root {
  --primary-color: #002c81;
  --error-color: #de3131;
}

body {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--primary-color);
}

h2 {
  font-weight: 400;
  color: var(--primary-color);
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary-color);
}

.password-view {
  position: relative;
  i {
    position: absolute;
    right: 1rem;
    top: 3.4rem;
    cursor: pointer;
    fill: var(--success-color)
  }
}

.error {
  color: var(--error-color);
}

#deleteElement {
  cursor: pointer;
}

.close {
  cursor: pointer;
  border-radius: 4rem;
  border: .1rem solid aliceblue;
  width: 2.4rem;
  text-align: center;
  line-height: 2.2rem;
  height: 2.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  &:hover {
    background: white;
    color: var(--success-color);
  }
}

[type="checkbox"] + label {
  transform: translateX(0);
  display: block;
}
#products-point{
  .row:nth-child(2n){
    @include respond-to(medium){
      padding-left: 1rem;
    }
  }
  .row:nth-child(2n-1){
    @include respond-to(medium){
      padding-right: 1rem;
    }
  }
}