@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 65rem) {
      @content
    }
  }
}

:root {
  --primary-color: #002c81;
  --error-color: #de3131;
}

body {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--primary-color);
}

h2 {
  font-weight: 400;
  color: var(--primary-color);
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary-color);
}
.error{
  color: var(--error-color);
}
