// inuit-css Framework Ártico
@import "~inuit-css";
// class general
@import "template/general";
//Template
@import "template/login";
input.cur-year{
  padding: 0 !important;
}

.main-nav{
  li{
    padding-left: 1.2rem;
  }
}
.max-letter{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}